<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebAppExample</display-name>

	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.example.web.servlet.MainServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddAnswer</servlet-name>
		<servlet-class>com.example.web.servlet.AddAnswerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddAnswer</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>RemoveAnswer</servlet-name>
		<servlet-class>com.example.web.servlet.RemoveAnswerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoveAnswer</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.example.web.listener.ContextListener</listener-class>
	</listener>

	<context-param>
		<param-name>storage</param-name>
		<param-value>memory</param-value>
	</context-param>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>hello</welcome-file>
	</welcome-file-list>

</web-app>